// Base colors
$white: #ffffff;
$black: #000000;

$black-50: rgba(0, 0, 0, 0.5);
$black-30: rgba(0, 0, 0, 0.3);

// Gray
$gray-200: #e1e4ed;
$gray-400: #b1b4c5;
$gray-500: #8a90ac;
$gray-600: #565468;

// Light Blue
$light-blue-400: #3fb7cd;
$light-blue-500: #2d8dab;

// Blue
$blue-500: #4664f4;
$blue-700: #2a45c2;

// Gold
$gold-500: #eb9f0e;
$gold-600: #c76c1b;

// Purple
$purple-600: #834ee3;
$purple-700: #5f37a8;

// Red
$red-600: #db2e4d;
$red-800: #9d1634;

// Navy
$navy-900: #3b4262;

// Gradients
$gradient-1-start: #1f3757;
$gradient-1-end: #131537;

$gradient-2-start: rgba(255, 255, 255, 0.1); // 10% white
$gradient-2-end: rgba(255, 255, 255, 0); // 0% white

$gradient-3-start: #dadada;
$gradient-3-end: #f3f3f3;
