@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-col-start {
  @include flex-start;
  flex-direction: column;
}

@mixin flex-col-center {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-col-between {
  @include flex-between;
  flex-direction: column;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
