// Typography Mixins

// Base: 1rem = 16px

$font-primary: 'Barlow Semi Condensed';

@mixin text-preset-1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: 4rem; // 64px / 16
  line-height: 1; // 100%
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: 3.5rem; // 56px / 16
  line-height: 1.2; // 120%
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 2.5rem; // 40px / 16
  line-height: 1; // 100%
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem; // 32px / 16
  line-height: 1; // 100%
  letter-spacing: 0;
}

@mixin text-preset-5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5rem; // 24px / 16
  line-height: 1.35; // 135%
  letter-spacing: 0.1875rem; // 3px / 16
}

@mixin text-preset-6 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600; // Semi700
  font-size: 1rem; // 16px / 16
  line-height: 1.2; // 120%
  letter-spacing: 0.15625rem; // 2.5px / 16
}

@mixin text-preset-7 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: 0.9375rem; // 15px / 16
  line-height: 2; // 200%
  letter-spacing: 0.125rem; // 2px / 16
}

@mixin text-preset-8 {
  font-family: 'Barlow Semi Condensed';
  font-weight: 600; // Semi700
  font-size: 0.625rem; // 10px / 16
  line-height: 1.2; // 120%
  letter-spacing: 0.09375rem; // 1.5px / 16
}
