@use '../../styles/index';

.score-box {
  @include index.flex-center;
  width: 5rem;
  height: 4.5rem;
  min-width: 3rem;
  padding: 0.5rem;
  background: white;
  border-radius: 4px;

  &__content {
    display: flex;
    flex-direction: column;
    width: 33px;
  }

  &__text {
    @include index.text-preset-8;
    text-align: center;
    color: index.$blue-700;
    text-wrap: nowrap;
  }

  &__value {
    @include index.text-preset-3;
    text-align: center;
    color: index.$gray-600;
  }
}

@include index.onTablet {
  .score-box {
    @include index.flex-center;
    width: fit-content;
    height: fit-content;
    background: white;
    border-radius: 8px;
    padding: index.$spacing-200 index.$spacing-600;

    &__content {
      width: 54.5px;
    }

    &__text {
      @include index.text-preset-6;
    }

    &__value {
      @include index.text-preset-1;
    }
  }
}
