@use '../../styles/index';

.game-result {
  @include index.flex-col-between;
  width: 226px;
  gap: index.$spacing-200;

  &__text {
    @include index.text-preset-2;
    text-align: center;
    color: white;
    text-shadow: 0px 3px 3px #00000032;
  }

  &__button {
    text-wrap: nowrap;
  }
}

.game-result.result-inner {
  display: none;
  @include index.onDesktop {
    display: flex;
    z-index: 50;
  }
}

.game-result.result-outer {
  @include index.onDesktop {
    display: none;
  }
}
