@use '../../styles/index';

.gstep-one {
  @include index.flex-center;
  width: 311px;
  height: 281px;
  position: relative;

  &__paper {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &__scissor {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &__rock {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@include index.onTablet {
  .gstep-one {
    width: 478px;
    height: 430px;

    &__paper {
    }
  }
}
