@use '../../styles/index';

.header-content {
  @include index.flex-between;
  width: 284px;
  height: fit-content;

  .heading-one {
    @include index.sr-only;
  }
}

@include index.onTablet {
  .header-content {
    width: 643.18px;
  }
}
