@use '../../styles/index';
@use 'sass:math';

$half-width: math.div(-311px, 2);
$half-width-tablet: math.div(-695.17px, 2);

.header {
  @include index.flex-col-center;
  width: 307px;
  height: 92px;
  position: absolute;
  top: 32px;
  border: 2px solid index.$gray-600;
  border-radius: 5px;
  left: 50%;
  transform: translateX($half-width);
}

@include index.onTablet {
  .header {
    width: fit-content;
    height: fit-content;
    top: 48px;
    transform: translateX($half-width-tablet);
    border: 2px solid index.$gray-600;
    border-radius: 15px;
    padding: calc(index.$spacing-200 - 2px) calc(index.$spacing-300 - 2px);
  }
}
