@use '../../styles//index';

.main-game {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 227px;
  left: 50%;
  transform: translateX(-50%);

  // .dialog-trigger {
  //   position: absolute;
  //   top: calc(146px + 281px);
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
}

@include index.onTablet {
  .main-game {
    top: 262px;

    // .dialog-trigger {
    //   bottom: -40px;
    //   transform: none;
    //   right: 39px;
    // }
  }
}

@include index.onDesktop {
  // .dialog-trigger {
  //   right: 32px;
  // }
}
