@use '../../styles//index';

.main-game {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 227px;
  left: 50%;
  transform: translateX(-50%);

  .heading-two {
    @include index.sr-only;
  }
}

@include index.onTablet {
  .main-game {
    top: 262px;
  }
}
